@charset "utf-8";
@media(min-width:1024px){
.ustbilgicontainer{
    background-color:#73302a;
    position:fixed;
    height: 80px;
    /*height:50pc;*/
    width:100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*logo kısmı*/
.logo{
    width: 30%;
    float: left;
}
.logo img{
    margin-top: 10px;
    height: 50px;
    position: relative;
    z-index: 1;
}

/*menü link işlemleri*/
.anamenu{
    width: 40%;
    float: left;
}
.menu{
    width: 400px;
    margin-top: 13px;
}
.menulink1{
    float: left;
    width: 33%;
}
.menulink2{
    float: left;
    width: 33%;
}
.menulink3{
    float: left;
    width: 34%;
}
.menu li{
    list-style: none;
}
.menu ul ul{ 
    width: 100%;
    background-color: #000000;
    position: absolute;
    left:0px;
    
    height: 490px;              /*@ buradaki amaç yukarıdan aşağıya kayar menü yapımı*/
    top: -600px;
    transition: 500ms all;
    visibility: hidden;         /*@*/
}
.menu ul ul ul{
    margin-top: 100px;
}
.menu ul li a{
    position: relative;
    z-index: 1;
}
.menu ul :hover ul{
    top: 0px;                   /*@ kayar menünüm diğer ayarları*/
    visibility: visible;        /*@*/   
}


.menulink1 ul ul ul{
    font-size: 18px;
}
.menulink1 deneme1 ul{
    margin-left:0px;
}
.menulink1 deneme2 ul{
    margin-left: 23%;
}
.menulink1 deneme3 ul{
    margin-left: 46%;
}
.menulink1 deneme4 ul{
    margin-left: 69%;
}
.menulink1 ul ul li{
    margin-top: 14px;
}
.menulink3 ul ul ul{
    font-size: 30px;
}





/*giriş kısmı*/
.giris{
    width:30%;
    height: 80px;
    float:left;
}
.girisgetstarted{
    width:125px;
    height: 38px;
    margin-top: 15px;
    margin-right: 50px;
    background-color: rgb(255, 255, 255);
    float:right;
    text-align: center;
    padding-top: 12px;
    position: relative;     /*bu özellik kullanılırken position relative aynı anda kullanılmalı*/
    z-index: 1;             /*bu özellik kullanılırken position relative aynı anda kullanılmalı*/
}
.girisgetstarted a{
    color: black;
    text-decoration: none;
}
.girislogin{
    margin-top: 25px;
    width: 125px;
    height: 20px;
    float:right;
    text-align: center;
    position: relative;
    z-index: 1;
}
.girislogin a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}



.deneme{
    height: 500px;
    width: 50px;
    background-color:blue;
}

.menu a{
    color:white;
    text-decoration: none;
}

}