@charset "utf-8";
@media(min-width:1024px){
.ustbilgicontainer{
    background-color:blueviolet;
    position:fixed;
    height: 70px;
    /*height:50pc;*/
    width:100%;
}
.logo{
    background-color: aqua;
    width: 300px;
    height: 100%;
    float: left;
}
.giris{
    
    background-color: rgb(252, 21, 175);
    width: 300px;
    height: 100%;
    float: right;
}

.deneme{
    height: 500px;
    width: 50px;
    background-color:blue;
}

/*menü link işlemleri*/
.menu{
    margin-left: 120px;
    
    margin-top: 50px;
    min-width: 400px;
    float: left;

}
a{
    text-align: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li{
    border:1px;
    width: 33%;
    float: left;
}
.menu li li{
    margin-top: 25px;
}
}