@charset "utf-8";
.ustbilgicontainer{
    height: 70px;
    width:100%;
}
.ustbilgi{
    background-color:gray;
    width: 33%;
    height: 100%;
    float: left;
}
.urun{
    width: 33%;
    margin-top: 15px;
    float: left;
}
.urun:hover{

}
.sablon{
    width: 33%;
    margin-top: 15px;
    float: left;
   
}
.kaynak{
    width: 33%;
    margin-top: 15px;
    float: left;
    
}
.kaynak:hover{

}
h1{
    text-align: center;
    font-size: 15px;
}
